<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }} | {{ title }}</title>
    <link rel="stylesheet" href="{{ baseurl }}/static/reserva.css" />
    <link rel="stylesheet" href="{{ baseurl }}/static/style.css" />
    <link rel="alternate" type="application/rss+xml" href="{{ baseurl }}/rss.xml" />
  </head>
  <body>
    <div class="contain">
      <div class="six col off-three">
        <p>
          / <a href="http://ipfs.io">ipfs</a>
          / <a href="{{ baseurl }}">blog</a>
          / <a href="./">{{ title }}</a>
        </p>

        {% block content %}
          {{ contents }}
        {% endblock %}

      </div>
    </div>
  </body>
</html>
