extends layout

block route
  - var baseurl = '.'

block content
  h3: a(href='./')= title
  div!= contents
  hr
  h4 Posts
  ul
    each item in collections.posts
      li: <a href='./#{item.path}/'>#{item.title}</a> -
        span= moment(item.date).format('MMMM Do YYYY')

