extends layout

block route
  - var baseurl = ".."

block content
  h3: a(href='./')= title

  p Written by <a href='http://evbogue.com'>#{site.author}</a> on #{moment(date).format('MMMM Do YYYY')}
      
  div!= contents
      
